"<!DOCTYPE html>
<html lant="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Código de Verificação</title>
 </head>
<body>
  <h1>{{code}}</h1>
</body>
</html>"